<aside class="aside d-flex justify-content-between">
    <div>
        <div class="d-flex"><img class="logo-img"
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg"
            alt=""></div>
        <ul class="list ps-0">
            <li class="list-item mb-4"><a class="d-flex align-items-center" href="">
                    <span class="material-icons me-3">
                        assessment
                    </span>Dashboard</a></li>
            <li class="list-item mb-4"><a class="d-flex align-items-center" href="">
                    <span class="material-icons me-3">
                        question_answer
                    </span>Question</a></li>
            <li class="list-item mb-4"><a class="d-flex align-items-center" href="">
                    <span class="material-icons me-3">
                        assignment
                    </span>Assignment</a></li>
            <li class="list-item mb-4"><a class="d-flex align-items-center" href="">
                    <span class="material-icons me-3">
                        video_library
                    </span>Course</a></li>
            <li class="list-item mb-4"><a class="d-flex align-items-center" href="">
                    <span class="material-icons me-3">
                        people
                    </span>Admin</a></li>
            <li class="list-item mb-4"><a class="d-flex align-items-center" href="">
                    <span class="material-icons me-3">
                        settings
                    </span>Settings</a></li>
        </ul>

    </div>
    
    <div class="user-info d-flex align-items-center">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="andychen" class="avatar">
        <div class="d-flex flex-column ms-3">
            <p class="user-name mb-1 fw-bold">Andy Chen</p>
            <span class="user-email">andy0401@mail.com</span>
        </div>
    </div>
</aside>