.aside {
    width: 296px;
    padding: 32px;
    flex-direction: column;
    background-color: #F8F9FA;
    position: fixed;
  top: 0;
  bottom: 0;

    .logo-img {
        height: 40px;
    }

    .list {
        margin-top: 40px;
    }

    .list-item a {
        color: $gray-900;
        font-weight: bold;
    }

    .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .user-email {
        font-size: 14px;
        color: $gray-600;
    }

}
